@model System.Web.Mvc.HandleErrorInfo
<div class="row">
    <div class="col-md-12">
        <hgroup>
            <h1>Error.</h1>
        </hgroup>
        @*<h2>
            @ViewBag.ErrorName
        </h2>*@
       <h2>
           @ViewData["ErrorName"]
        </h2>
    </div>
</div>
