
@{
    ViewBag.Title = "Menu";
}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 menu_item_title">
                <h3>Opciones</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3 menu_item">
                <a href="~/home/cliente">
                    <center>
                        <div class="icon_view">
                            <span class="glyphicon glyphicon-home"></span>
                        </div>
                        <div class="view_title">Cliente</div>
                    </center>
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 menu_item">
                <a href="~/home/empleado">
                    <center>
                        <div class="icon_view">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="view_title">Empleado</div>
                    </center>
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 menu_item">
                <a href="~/home/evaluador">
                    <center>
                        <div class="icon_view">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="view_title">Evaluador</div>
                    </center>
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 menu_item">
                <a href="~/home/clienteempleado">
                    <center>
                        <div class="icon_view">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="view_title">Cliente Empleado</div>
                    </center>
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 menu_item">
                <a href="~/home/asistencia">
                    <center>
                        <div class="icon_view">
                            <span class="glyphicon glyphicon-bell"></span>
                        </div>
                        <div class="view_title">Asistencia</div>
                    </center>
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 menu_item">
                <a href="~/home/reporte">
                    <center>
                        <div class="icon_view">
                            <span class="glyphicon glyphicon-dashboard"></span>
                        </div>
                        <div class="view_title">Reporte Asistencia</div>
                    </center>
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 menu_item">
                <a href="~/home/gpregunta">
                    <center>
                        <div class="icon_view">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </div>
                        <div class="view_title">Pregunta Grupo</div>
                    </center>
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 menu_item">
                <a href="~/home/pregunta">
                    <center>
                        <div class="icon_view">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </div>
                        <div class="view_title">Preguntas</div>
                    </center>
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 menu_item">
                <a href="~/home/encuestaconfig">
                    <center>
                        <div class="icon_view">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <div class="view_title">Prog. Enuesta</div>
                    </center>
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 menu_item">
                <a href="~/home/reporteencuesta">
                    <center>
                        <div class="icon_view">
                            <span class="glyphicon glyphicon-folder-close"></span>
                        </div>
                        <div class="view_title">Reporte Encuesta</div>
                    </center>
                </a>
            </div>
        </div>
    </div>
</div>
